/* General Styles */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    color: white;
    font-family: 'Arial', sans-serif;
}


/* Navigation */


nav {
    background-color: #333941;
    display: flex;
    justify-content: space-between; /* Ensure logo is on the left and menu items on the center-right */
    align-items: center;
    padding: 15px;
}

nav img {
    width: 150px; /* Adjusted logo size */
    height: auto;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 30px;
    margin-left: auto; 
}

nav ul li a {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}


/* Banner Section */


.banner {
    position: relative;
    height: 400px;
    overflow: hidden;
    margin-bottom: 40px;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.banner-text {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    padding: 100px 20px;
}

/*banner framed block*/

.banner-framed-block {
    border: 2px solid #333941;
    padding: 15px;
    border-radius: 10px;
    margin-top: 150px;
    background-color: rgba(46, 46, 46, 0.7);
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 700px;  
    margin-left: auto; 
    margin-right: auto; 
}


.banner h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.5em;
}


/* About Us and History Sections (Index Page) */


.framed-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    border: 2px solid #333941;
    border-radius: 10px;
    background-color: #2e2e2e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text {
    max-width: 60%;
}

.section-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: contain;
    margin-left: 20px;
}



/* Mobile (for index) */


@media (max-width: 768px) {
    .framed-content {
        flex-direction: column;
        text-align: center;
    }

    .text {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .section-image {
        max-width: 100%;
        margin: 0 auto;
    }
}



/* Menu Item Blocks */


.framed-block {
    border: 2px solid #333941;
    padding: 15px;
    border-radius: 10px;
    background-color: #2e2e2e;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 1400px;  
    margin-left: auto; 
    margin-right: auto; 
}



/* Menu Section */

/* Menu title texts */

.menu-section-title h2 {
    font-size: 1.8em; 
    font-weight: bold;
    padding-left: 40px;
    padding-top: 30px;
    text-transform: uppercase; 
    margin: 20px 0; 
    letter-spacing: 1.5px; 
}

.menu-section-title p {
    font-size: 1em; 
    padding-left: 40px;
    margin: 20px 0; 
    letter-spacing: 1.5px; 
}

/* Menu Title Block */

.menu-title {
    text-align: center;
    margin: 40px 0; 
    padding: 20px; 
    border: 2px solid #333941; 
    border-radius: 10px; 
    background-color: #2e2e2e; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    max-width: 1400px;  
    margin-left: auto; 
    margin-right: auto; 
}

.menu-title h1 {
    font-size: 2em; 
    letter-spacing: 1.5px; 
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-text {
    max-width: 55%;
    margin-left: 50px;
}

.menu-image {
    width: 250px;
    height: auto;
    margin-left: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .menu-item {
        flex-direction: column;
        text-align: center;
    }

    .menu-text {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .menu-image {
        max-width: 100%;
    }
}



/* Contact Form */


form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-bottom: 30px;
    background-color: #2e2e2e;
    padding: 20px;
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 5px;
}

form label {
    margin-top: 10px;
    color: white;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: white;
}

form button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #00ccff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*contact framed block*/

.contact-framed-block {
    border: 2px solid #333941;
    padding: 15px;
    border-radius: 10px;
    background-color: #2e2e2e;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;  
    margin-left: auto; 
    margin-right: auto; 
}


/* Branch Section */


.branch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 5px;
}

.branches {
    padding: 40px 20px; 
    margin-bottom: 40px; 
}

.contact {
    padding: 40px 20px;
    margin-bottom: 40px; 
}

.branch-info {
    max-width: 60%;
}

.branch-image {
    width: 400px;
    height: auto;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .branch {
        flex-direction: column;
        text-align: center;
    }

    .branch-info {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .branch-image {
        max-width: 100%;
    }
}

/* Branch Info Section */
.branch-info {
    display: flex;
    flex-direction: column;
    align-items: right; /* Centers the map and text horizontally */
    margin-left: 60px;
}

/* Center the iframe (Google Maps) */
.branch-info iframe {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Footer */



footer {
    background-color: #333;
    text-align: center;
    padding: 20px;
}

footer p, footer a {
    color: white;
}
